{% if Acctype=="Admin"%}
{% extends "admin.html"%}
{% else %}
{% extends "employee.html"%}
{% endif %}
{% block content %}

   <h1>Edit Customer Details</h1>
   <br>
   <br>

   <h2>Customer Registration Form</h2>
   {% with messages = get_flashed_messages() %}
       {% if messages %}
           {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>

           {% endfor %}
       {% endif %}
   {% endwith %}
   <form action="" method="post" novalidate>
       {{ form.hidden_tag() }}

     <table border = "0" cellspacing=20%>
       <tr>
          <th>Customer id</th>
          <td>:</td>
            <td>{{custm.C_id}}</td>

       </tr>
       <tr>
          <th>Email</th>
          <td>:</td>
            <td>{{custm.C_email}}</td>


       </tr>

            <tr>
               <th>{{ form.firstname.label }}</th>
               <td>:</td>
                 <td>{{custm.C_firstname}}</td>
                <td>change to</td>
               <td>{{ form.firstname }}</td>
            </tr>
            <tr>
               <th>{{ form.lastname.label }}</th>
               <td>:</td>
                 <td>{{custm.C_lastname}}</td>
                <td>change to</td>
               <td>{{ form.lastname }}</td>
            </tr>
            <tr>
               <th>{{ form.gender.label }}</th>
               <td>:</td>
                 <td>{{custm.C_gender}}</td>
                <td>change to</td>
               <td>{{ form.gender }}</td>
            </tr>



            <tr>
              <th>{{ form.phone.label }} </th>
              <td>:</td>
              <td>{{custm.C_number}}</td>
             <td>change to</td>
              <td>{{ form.phone }}</td>
            </tr>

            <tr>
              <th>{{ form.age.label }}</th>
              <td>:</td>
              <td>{{custm.C_age}}</td>
             <td>change to</td>
              <td>{{ form.age }}</td>
            </tr>

            <tr>
              <th>{{ form.address.label }} </th>
              <td>:</td>
              <td>{{custm.C_address}}</td>
             <td>change to</td>
              <td>{{ form.address }}</td>
            </tr>

         </table>
         <br>
         <br>
            {{ form.submit() }}
       </form>


{% endblock %}
